<header>
    <div class="container-gid header-flex">
        <img class="logo" src="/assets/images/logo.svg" alt="">

        <!-- MENU DE NAVEGAÇÃO -->
        <nav class="menu" id="navMenu">
            <a class="menu-item" routerLink="">Home</a>
            <a class="menu-item" routerLink="#">Horários</a>
            <a class="menu-item" routerLink="#">Campeonato</a>
            <a class="menu-item" routerLink="#">Resultados</a>
            <a class="menu-item" routerLink="/login">Login</a>
        </nav>

        <!-- MENU HAMBURGER -->
        <img onclick="mostrarMenu()" class="menu-bar" src="/assets/images/bars.svg" alt="">
    </div>
</header>
