<header>
    <div class="container-gid header-flex">
        <img class="logo" src="/assets/images/logo.svg" alt="">

        <!-- MENU DE NAVEGAÇÃO -->
        <nav class="menu" id="navMenu">
            <a class="menu-item" href="#">Início</a>
            <a class="menu-item" href="#">Horários</a>
            <a class="menu-item" href="#">Campeonato</a>
            <a class="menu-item" href="#">Resultados</a>
            <a class="menu-item" href="#">Notícias</a>
        </nav>

        <!-- MENU HAMBURGER -->
        <img onclick="mostrarMenu()" class="menu-bar" src="/assets/images/bars.svg" alt="">
    </div>
</header>
